div {
  height: 100px;
  width: 100px;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
  color: white;
}

.white {
  background-color: white;
}
